<p>filters works!</p>
<mat-divider></mat-divider>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Reglas de Filtrado</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Formulario para agregar nueva regla -->
    <form (ngSubmit)="addRule()">
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput placeholder="Introduce una URL" [(ngModel)]="newRule.url" name="url" required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="newRule.type" name="type">
          <mat-option value="educacion">educacion</mat-option>
          <mat-option value="social">social</mat-option>
          <mat-option value="entretenimiento">entretenimiento</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Acción</mat-label>
        <mat-select [(value)]="newRule.action" name="action">
          <mat-option value="autorizar">Autorizar</mat-option>
          <mat-option value="bloquear">Bloquear</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Razón</mat-label>
        <mat-select [(value)]="newRule.reason" name="action">
          <mat-option value="access limited to students">access limited to students</mat-option>
          <mat-option value="platform for registered users only">platform for registered users only</mat-option>
          <mat-option value="platform for everyone">platform for everyone</mat-option>
          <mat-option value="insitutional website">insitutional website</mat-option>
          <mat-option value="other">other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Select User IP</mat-label>
        <mat-select [(ngModel)]="newRule.userIP" name="userIP" required>
          <mat-option value="any">any</mat-option>
          <mat-option *ngFor="let ip of userIPs" [value]="ip">
            {{ ip }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Agregar Regla</button>
    </form>

    <!-- Tabla de reglas de filtrado -->
    <table mat-table [dataSource]="filteringRules" class="mat-elevation-z8" style="margin-top: 20px;">

      <!-- Columna URL -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let rule"> {{ rule.url }} </td>
      </ng-container>

      <!-- Columna Tipo de Regla -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let rule"> {{ rule.type }} </td>
      </ng-container>

      <!-- Columna de Acción -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let rule"> {{ rule.action }} </td>
      </ng-container>

      <!-- Columna de Acciones -->
      <ng-container matColumnDef="actionBtn">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let rule">
          <button mat-button color="warn" (click)="deleteRule(rule.id)">Eliminar</button>
        </td>
      </ng-container>

      <!-- Fila del encabezado -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Fila de datos -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
