.form-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin-bottom: 10px;
}

.mat-mdc-card {
  display: flex; /* Asegúrate de que el display sea flex */
  flex-direction: row; /* Cambia la dirección de los elementos a filas */
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}


.table-bordered tbody tr {
  border-bottom: 1px solid #ccc; /* Añadir un borde gris debajo de cada fila */
}

.cell-divider {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.cell-divider:last-child {
  border-bottom: none;
}
