<div class="dashboard">
  <div class="card-row">
    <!-- Estado del Proxy -->
    <mat-card class="card" style="margin-bottom: 20px; margin-left: 50px;">
      <mat-card-header>
        <mat-card-title>Estado del Proxy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Status: {{ proxyStatus ? 'Activo' : 'Inactivo' }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Total de Páginas Bloqueadas -->
    <mat-card class="card" style="margin-bottom: 20px; margin-left: 50px;">
      <mat-card-header>
        <mat-card-title>Total de Páginas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="totals-container">
          <div class="total-item">
            <p class="small-title">Autorizadas</p>
            <p class="small-text">{{ urlHistoryAuthorized }}</p>
          </div>
          <div class="total-item">
            <p class="small-title">Bloqueadas</p>
            <p class="small-text">{{ urlHistoryBlocked }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Gráfico de Tráfico Bloqueado vs Permitido -->
  <mat-card class="card" style="margin-bottom: 20px; margin-left: 50px;">
    <mat-card-header>
      <mat-card-title>Tráfico Bloqueado vs Permitido</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="charts-container">
      <app-traffic-chart [chartTitle]="'Tráfico Bloqueado vs Permitido (Diario)'"
        [trafficData]="dailyTrafficData"></app-traffic-chart>
      <app-traffic-chart [chartTitle]="'Tráfico Bloqueado vs Permitido (Mensual)'"
        [trafficData]="monthlyTrafficData"></app-traffic-chart>
      <!--  <app-traffic-chart [chartTitle]="'Tráfico Bloqueado vs Permitido (Horario)'"
        [trafficData]="hourlyTrafficData"></app-traffic-chart> -->
        </div>
    </mat-card-content>
  </mat-card>

  <!-- Últimas URLs Accedidas -->
  <mat-card class="card" style="margin-bottom: 20px; margin-left: 50px;">
    <mat-card-header>
      <mat-card-title>Últimas URLs Accedidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="urlHistory" class="mat-elevation-z8">
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let url"> {{url.url}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let url"> {{url.action}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let url"> {{url.timestamp | date:'short'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['url', 'status', 'timestamp']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['url', 'status', 'timestamp'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <!-- Logs de Actividad -->
  <mat-card class="card" style="margin-bottom: 20px; margin-left: 50px;">
    <mat-card-header>
      <mat-card-title>Registro de Actividades</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let log of activityLogs">
          <h4 mat-line>{{ log.message }}</h4>
          <p mat-line>{{ log.timestamp | date:'short' }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
